
.control-label {
	margin-top: 0.5rem;
}

.form-switch .form-check-input {
	width: 2.875em !important;
	margin-top:  0.4rem;
}

@media screen and (max-width: 600px) { 
	.row .col-12 {
		margin-bottom: 2rem;
	}
	.row .col-12:last-child {
		margin-bottom: 0rem;
	}
	.card.w-75 {
		width: 100% !important;
	}
	.control-label {
		margin-top: 0;
	}
	.control-label.margin-stay {
		margin-top: 0.5rem;
	}
}