
<div class="d-flex justify-content-center align-items-center">
	<div class="card w-75">
		<form [formGroup]="notificationForm">
			<div class="card-body p-0">
				<div class="card" *ngFor="let method of methods">
					<div class="card-header">
						{{ method | titlecase }}
					</div>
					<div class="card-body p-0">
						<div class="list-group list-group-flush">
							<ng-container *ngFor="let action of actions">
								<div class="list-group-item" *ngIf="action.method === method">
									<div class="row gx-0">
										<div class="col">
											<label class="control-label margin-stay">{{ action.value | titlecase }}</label>
										</div>
										<div class="col form-check form-switch text-right">
			  								<input class="form-check-input" type="checkbox" role="switch" id="action" [formControlName]="action.formControl">
			  								<label class="form-check-label" for="action">&nbsp;</label>
										</div>
									</div>
								</div>
							</ng-container>
						</div>
					</div>
				</div>
			</div>
		</form>
		<div class="card-footer">
			<button class="btn btn-sm btn-primary float-end" (click)="saveChanges()" [disabled]="!notificationForm.valid || !notificationForm.touched || saving">
				<span *ngIf="!saving">Save</span>
				<span *ngIf="saving"><i class="fas fa-circle-notch fa-spin"></i> Saving...</span>
			</button>
		</div>
	</div>
</div>

