
.messageContainer {
	height: 85vh;
	padding-bottom: 5rem;
	margin-bottom: 5rem;
}

textarea {
	resize: none;
}

a.badge:hover {
	color:  white;
}

.dropdown-menu {
	position: absolute !important;
	top:  unset !important;
	left: unset !important;
	inset:  unset !important;
}

.sidebar .avatar {
	height: 2rem;
	width: 2rem;
}