<ngx-loading-bar></ngx-loading-bar>
<div class="app-wrapper h-100" *ngIf="!loading">
   <ng-container *ngIf="authService.allUserData | async; then authedUserTemplate; else unauthedUserTemplate"></ng-container>
</div>
<ng-template #authedUserTemplate>
   <div id="wrapper">
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" [collapse]="isSidebarCollapsed" [isAnimated]="false" [ngClass]="isSidebarToggled ? 'toggled' : ''">
         <a class="sidebar-brand d-flex align-items-center justify-content-center" [routerLink]="['/dashboard']">
            <div class="sidebar-brand-icon rotate-n-15"> <i class="" [ngClass]="logoIcon"></i> </div>
            <div class="sidebar-brand-text mx-3">{{ title }}</div>
         </a>
         <hr class="sidebar-divider my-0">
         <li class="nav-item">
            <a class="nav-link" [routerLink]="['/dashboard']"> <i class="fas fa-fw fa-tachometer-alt"></i> <span>Dashboard</span></a>
         </li>
         <hr class="sidebar-divider">
         <div class="sidebar-heading w-100"> Tickets </div>
         <li class="nav-item">
            <a class="nav-link" [routerLink]="['/tickets']"> <i class="fad fa-fw fa-ticket"></i> <span>All Tickets</span></a>
         </li>
         <li class="nav-item">
            <a class="nav-link" [routerLink]="['/tickets', 'filter', 'assigned-to-me']"> <i class="fas fa-fw fa-ticket"></i> <span>My Tickets</span></a>
         </li>
         <li class="nav-item">
            <a class="nav-link" [routerLink]="['/tickets', 'filter', 'unassigned']"> <i class="fas fa-fw fa-ticket-alt"></i> <span>Unassigned Tickets</span></a>
         </li>
         <li class="nav-item">
            <a class="nav-link" [routerLink]="['/tickets', 'filter', 'closed']"> <i class="fas fa-fw fa-check-double"></i> <span>Closed Tickets</span></a>
         </li>
      </ul>
      <div id="content-wrapper" class="d-flex flex-column">
         <div id="content">
            <nav class="navbar navbar-expand navbar-light bg-white topbar static-top shadow mb-0">
               <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3" (click)="isSidebarCollapsed = !isSidebarCollapsed"> <i class="fa fa-bars"></i> </button>
               <div class="text-center d-none d-md-block">
                  <button class="rounded-circle border-0" id="sidebarToggle" (click)="toggleSidebar()"> <i class="fa fa-fw" [ngClass]=" isSidebarToggled ? 'fa-chevron-right' : 'fa-chevron-left' "></i> </button>
               </div>
               <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                  <div class="input-group">
                     <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                     <div class="input-group-append">
                        <button class="btn btn-primary" type="button"> <i class="fas fa-search fa-sm"></i> </button>
                     </div>
                  </div>
               </form>
               <ul class="navbar-nav ml-auto">
                  <li dropdown class="nav-item dropdown no-arrow d-sm-none" [insideClick]="true">
                     <a class="nav-link dropdown-toggle"id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" dropdownToggle> <i class="fas fa-search fa-fw"></i> </a>
                     <div *dropdownMenu class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                        <form class="form-inline mr-auto w-100 navbar-search">
                           <div class="input-group">
                              <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                              <div class="input-group-append">
                                 <button class="btn btn-primary" type="button"> <i class="fas fa-search fa-sm"></i> </button>
                              </div>
                           </div>
                        </form>
                     </div>
                  </li>
                  <!-- <li dropdown class="nav-item dropdown no-arrow mx-1">
                     <a class="nav-link dropdown-toggle"id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" dropdownToggle> <i class="fas fa-bell fa-fw"></i>
                        <span class="badge badge-danger badge-counter">3+</span> </a>
                     <div *dropdownMenu class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                        <h6 class="dropdown-header">
                           Alerts Center
                        </h6>
                        <a class="dropdown-item d-flex align-items-center" >
                           <div class="mr-3">
                              <div class="icon-circle bg-primary"> <i class="fas fa-file-alt text-white"></i> </div>
                           </div>
                           <div>
                              <div class="small text-gray-500">December 12, 2019</div> <span class="font-weight-bold">A new monthly report is ready to download!</span> </div>
                        </a>
                        <a class="dropdown-item d-flex align-items-center" >
                           <div class="mr-3">
                              <div class="icon-circle bg-success"> <i class="fas fa-donate text-white"></i> </div>
                           </div>
                           <div>
                              <div class="small text-gray-500">December 7, 2019</div> $290.29 has been deposited into your account! </div>
                        </a>
                        <a class="dropdown-item d-flex align-items-center" >
                           <div class="mr-3">
                              <div class="icon-circle bg-warning"> <i class="fas fa-exclamation-triangle text-white"></i> </div>
                           </div>
                           <div>
                              <div class="small text-gray-500">December 2, 2019</div> Spending Alert: We've noticed unusually high spending for your account. </div>
                        </a> <a class="dropdown-item text-center small text-gray-500" >Show All Alerts</a> </div>
                  </li> -->
                  <li dropdown class="nav-item dropdown no-arrow mx-1" *ngIf="authService.allUserData | async as user;">
                     <a class="nav-link dropdown-toggle"id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" dropdownToggle> <i class="fas fa-envelope fa-fw"></i> <span *ngIf="unreadMessageCount > 0" class="badge badge-danger badge-counter">{{ unreadMessageCount < 10 ? unreadMessageCount : '9+' }}</span> </a>
                     <!-- Dropdown - Messages -->
                     <div *dropdownMenu class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in fancyDropdown" aria-labelledby="messagesDropdown">
                        <h6 class="dropdown-header">
                           Message Center
                        </h6>

                        <ng-template #noMessages>
                           <div class="p-3 text-center noMessages">
                              <img src="./assets/img/undraw_Begin_chat_re_v0lw.png" width="120" />
                              <h5>No Messages</h5>
                              <p>You currently have no messages</p>
                              <button class="btn btn-primary btn-sm mt-3" [routerLink]="['/messages']">Create Message</button>
                           </div>
                        </ng-template>

                        <div class="messageContainer" *ngIf="userDirectMessages.length; else noMessages">
                           <a [routerLink]="['/messages', message.id]" class="dropdown-item d-flex align-items-center" *ngFor="let message of userDirectMessages">

                              <ng-container *ngIf="message.teamChat; else directImage">

                                 <div class="dropdown-list-image mr-3"> 
                                    <img class="rounded-circle" referrerpolicy='no-referrer' [src]="message.icon" alt="...">
                                 </div>

                              </ng-container>

                              <ng-template #directImage>

                                 <div class="dropdown-list-image mr-3" *ngIf="message.receiver === currentUserUID"> 
                                    <img class="rounded-circle" referrerpolicy='no-referrer'  src="{{ message.uid | user:'photoURL' | async }}" alt="...">
                                 </div>
                                 <div class="dropdown-list-image mr-3" *ngIf="message.receiver !== currentUserUID"> 
                                    <img class="rounded-circle" referrerpolicy='no-referrer'  src="{{ message.receiver | user:'photoURL' | async }}" alt="...">
                                 </div>

                              </ng-template>

                              <div [ngClass]="message.userLastRead < (message.lastMessage.index+1) ? 'font-weight-bold' : '' " >
                                 <div class="text-truncate"> {{ message.lastMessage.content | truncate:[35, '...'] }} </div>
                                 <ng-container *ngIf="message.teamChat; else directMessage">
                                    <div class="small text-gray-500" *ngIf="message.receiver === currentUserUID">
                                       {{ message.title }} · {{ message.lastMessage.createdAt | amTimeAgo }}
                                    </div>
                                    <div class="small text-gray-500" *ngIf="message.receiver !== currentUserUID">
                                       {{ message.title }} · {{ message.lastMessage.createdAt | amTimeAgo }}
                                    </div>
                                 </ng-container>
                                 <ng-template #directMessage>
                                    <div class="small text-gray-500" *ngIf="message.receiver === currentUserUID">
                                       {{ message.uid | user:'displayName' | async }} · {{ message.lastMessage.createdAt | amTimeAgo }}
                                    </div>
                                    <div class="small text-gray-500" *ngIf="message.receiver !== currentUserUID">
                                       {{ message.receiver | user:'displayName' | async }} · {{ message.lastMessage.createdAt | amTimeAgo }}
                                    </div>
                                 </ng-template>
                              </div>
                           </a> 
                        </div>

                        <a *ngIf="userDirectMessages.length" class="dropdown-item text-center small text-gray-500" [routerLink]="['/messages']">
                           Read More Messages
                        </a> 
                     </div>
                  </li>
                  <div class="topbar-divider d-none d-sm-block"></div>
                  <li dropdown class="nav-item dropdown no-arrow" *ngIf="authService.allUserData | async as user;">
                     <a class="nav-link dropdown-toggle" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" dropdownToggle> 
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small"> {{ user?.displayName ? user.displayName : user.email }} </span> 
                        <img referrerpolicy='no-referrer' class="img-profile rounded-circle" src="{{ user.uid | user:'photoURL' | async }}"> </a>
                     <div *dropdownMenu class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                        <a [routerLink]="['/profile']" class="dropdown-item" > <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> Profile </a>
                        <a [routerLink]="['/settings']" class="dropdown-item" > <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> Settings </a>
                        <div class="dropdown-divider"></div>
                        <a [routerLink] class="dropdown-item" (click)="openModal(logoutModal)"> <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Logout </a>
                     </div>
                  </li>
               </ul>
            </nav>
            <div id="contentContainer">
               <div class="actual-content">
                  <router-outlet></router-outlet>
               </div>
            </div>
         </div>
      </div>
   </div>
</ng-template>
<ng-template #unauthedUserTemplate>
   <router-outlet></router-outlet>
</ng-template>
<ng-template #logoutModal>
   <div class="modal-header">
      <h4 class="modal-title pull-left">Ready to leave?</h4>
      <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="modalRef?.hide()">
         <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
   </div>
   <div class="modal-body text-center">
      <img src="./assets/img/undraw_Login_re_4vu2.png" width="80%"/>
      <p>Select Logout below if you are ready to end your current session.</p>
   </div>
   <div class="modal-footer">
      <button class="btn btn-outline-secondary" (click)="modalRef?.hide()">Cancel</button>
      <button class="btn btn-primary" (click)="authService.SignOut(); modalRef?.hide()">Logout</button>
   </div>
</ng-template>